{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}<b>{{ user['username'] }}</b>{% endblock %}</h1>
    <br/>
    <p><b>Date joined: </b>{{ user['date_joined'] }}</p>
    <div>
        <form class="form-group" method="post">
            <div style="float:left;">
                <p><b>User Level: </b>
                    {% if user['user_level'] == 0 %}
                        Member
                    {% elif user['user_level'] == 1 %}
                        Moderator
                    {% elif user['user_level'] == 2 %}
                        Administrator
                    {% endif %}
                </p>
                <h3>User Level</h3>
                {{ form.user_level(class="btn-outline-secondary") }}
                <br/><br/>
                {{ form.submit(class="btn-success") }}
            </div>

            <div style="float:left; margin-left: 50px;">
                <p><b>Restriction Level: </b>
                    {% if user['restriction_level'] == 0 %}
                        Unrestricted
                    {% elif user['restriction_level'] == 1 %}
                        Restricted
                    {% endif %}
                </p>
                <h3>Restriction Level</h3>
                {{ form.restriction_level(class="btn-outline-secondary") }}
            </div>
        </form>
    </div>
{% endblock %}