{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Reset Password{% endblock %}</h1>
    <form method="post">
        {{ form.hidden_tag() }}

        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {{ form.backup_code.label(class="form-label") }}
        {{ form.backup_code(class="form-control") }}
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {{ form.confirm.label(class="form-label") }}
        {{ form.confirm(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
{% endblock %}