{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Reset Password{% endblock %}</h1>
    <form method="post">
        {{ form.hidden_tag() }}

        {{ form.old_password.label(class="form-label") }}
        {{ form.old_password(class="form-control") }}
        {{ form.new_password.label(class="form-label") }}
        {{ form.new_password(class="form-control") }}
        {{ form.confirm.label(class="form-label") }}
        {{ form.confirm(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
{% endblock %}